<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIView+CAAimations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C23E8911CA28AD900660B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C23E8AA1CA28AD900660B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C23E8B51CA28AD900660B73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
