<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestTextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C6D27D31C34DA2E006060D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6D27EC1C34DA2F006060D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C6D27F71C34DA2F006060D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
