<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoadingTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7CE19A8C1BFF2552005765E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE19AA51BFF2552005765E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CE19AB01BFF2552005765E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
